<% @ab = @stats_hash[:ab] %>

<table>
  <thead>
    <th>Breach</th>
    <th>Chance</th>
    <th>Average Amt</th>
  </thead>
    <% @ab.except(:x).each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <% value.each do |k, v| %>
        <td><%= v %></td>
      <% end %>
    </tr>
  <% end %>
</table>
