<p style="color: green"><%= notice %></p>

<% @last_trading_day = @stats.last.trading_day %>
<% @months_from_last = @last_trading_day.months_ago(6) %>



<%= render "onhl" %>
<%= render "fhhl" %>
<%= render "b_to_a" %>


